.lista-videos {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  padding: 20px;
  box-sizing: border-box;
  text-align: center;
}
.lista-videos iframe {
  width: 100%; 
  height: auto;
  aspect-ratio: 16 / 9; 
}

.gvy_video {
  margin-right: 0;
}

@media (min-width: 768px) {
  .lista-videos {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 992px) {
  .lista-videos {
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
}
